body{
	background: #eee;
}
div {
  font-family: 'bangna_newregular',"Cordia New", sans-serif;
}
#total_amountincart{
	position: absolute;
	z-index: 2;
	right: 0;
	margin-right: 5px;
	background: #16326a;
	padding: 0px 7px;
	border-radius: 10px;
	color:white;
	padding-top: 2px;
	
}
.clear{
	clear: both;
}
.margin0{
	margin:0px;
	padding: 8px 0px;
}
.margintop20{
	margin-top: 20px;
}
.marginun20{
	margin-top: -20px;
}
.padding0{
	padding: 0px;
}
.font20{
	font-size: 14px;
}
.font26{
	font-size: 16px;
}
.font-content{
	font-size:16px;
}
.font_menu{
	font-size: 18px;
}
.font_head{
	font-size: 20px;
}
.underline{
	margin-top: 30px;
	border-bottom: 2px solid #ccc;
	width: 100%;
}
.header-top{
	width: 100%;
	height: 4px;
	background-image:url("../images/background/header-top.png");
	position: fixed;
	z-index: 3;
}	
.header{
	margin-top: 4px;
	width: 100%;
	height: 60px;
	background:#cfffd6;
	position: fixed;
	z-index: 10;
	border-radius: 0px 0px 15px 15px;
	box-shadow: 5px 1px 10px #444;
}
.header-logo,.header-menu,.header-function{
	float: left;
	width: 32.5%;
	height:60px;
}
.header-logo-img{
	width: 60px;
	height: 60px;
	float: left;
}
.header-menu{
	width: 35%;
	font-size: 20px;
	font-weight: bold;
	color:#1c5d25;
}
.header-menu-home,.header-menu-product,.header-menu-webblog,.header-menu-webboard{
	width: 30%;
	height: 60px;
	float: left;
	padding-top: 20px;
	color:#1c5d25;

}
.header-menu-home,.header-menu-webblog{
	width: 20%;
}
.header-menu-home:hover,.header-menu-product:hover,.header-menu-webblog:hover,.header-menu-webboard:hover,.header-menu-active:hover{
	background: #42b752;
	color: white;
	cursor: pointer;
}
.header-menu-active,.product-recommend-new{
	background: #248a32;
	border-bottom:2px solid #1c5d25;
	color:white; 
}
.header-function-cart,.header-function-user{
	width: 60px;
	height: 60px;
	padding: 10px;
	float: right;
	border-radius:0px 0px 15px 0px; 
	
}
.content_website{
	background:#fff;
	padding:70px 0px 0px 0px;
}
.img_cart,.img_user{
	width: 40px;
	height: 40px;
}
.img_user_login{
	width: 50px;
	height: 50px;
}
.header-function-cart{
	background:#248a32;

}

.header-function-cart:hover{
	background: #42b752;
}
.header-function-user{
	cursor: pointer;
}
.home-slide{
	width: 100%;	
	height: 400px;
}
.img-home-slide{
	width: 100%;
	height: 100%;
}
.product-recommend{
	width: 100%;
	border-bottom:2px solid #ddd; 
	float: left;
}
.product-recommend-center,.product-recommend-sale,.product-recommend-new,.product-recommend-best{
	width: 12%;
	float: left;
	font-size: 12px;
	padding: 10px 0px;
	font-weight: bold;
	color: #1c5d25;
}
.product-recommend-sale,.product-recommend-new,.product-recommend-best{
	cursor: pointer;
}
.product-recommend-center{
	width: 32%;
	height: 10px;
}
/*.product-recom-new-content*/.product-recom-sale-content,.product-recom-best-content{
	display: none;
}
.product-recommend-new{
	color:white;
}
.div-recom{
	width:90%;
	height:340px;
	position:absolute;
	z-index: 3;
}
.div-recom:hover{
	background-image: url("../images/background/black.png");
}
.div-recom-content{
	margin-top:145px;
	background:white;
	color:#666;
	font-size:32px;
	padding: 10px;
	opacity: 0;
	border-left:1px #ddd solid;
	border-right:1px #ddd solid;
}
.div-recom:hover .div-recom-content{
	opacity:1;
}
.datausers_menu{
	background: #00e;
	background: #bbf9c3;
	padding: 20px 0px;
	border-right: 2px solid #649d6c;
	height: 100%; 
}
.content1,.content2{
	font-size:18px;
}
.active-datausers-menu{
	background: #fff;
	color:#20712b;
}
.datausers_menu a{
	text-decoration: none;
	color: black;
}
.datausers_menu a :hover{
	background: #56c665;
	color: white;
}
.weboard-showrecommend{
	margin: 20px 50px;
}
.blog_webboard{
	border:1px solid #bbb;
	padding: 10px;
}
.header-webblog{
	font-size: 30px;
	margin-top:40px;
	background:#16326a;
	color:white;
	padding-top:8px;
	padding-left: 20px;
	border-bottom:4px solid #325bb0;
}
.menu-webblog{
	font-size: 13px;
	padding: 5px 10px 0px 10px;
}
.menu-webblog:hover{
	font-size: 13px;
	background: #9dbefe;
	border-bottom: 2px #16326a solid;
	color: #eee;
}
.menu-webblog-active{
	background: #3e71d7;
	color:white;
	border-bottom: 2px #16326a solid;
}
.header-webblog-content{
	font-size: 20px;
	background:#16326a;
	color:white;
	padding-top:10px;
	padding-left: 20px;
	border-bottom:4px solid #325bb0;
}
.content-webblog{
	margin-top:10px;
	font-size: 16px;
}
.webbolg-none-image{
	width:100%;
	height:250px;
	border: 2px #ddd solid;
	padding:40px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	padding-top: 70px;
}
.read-more{
	background-image: url("../images/icon/readmore.png");
	background-size: 100% 100%;
	width: 50px;
	height: 20px;
	margin-top: 20px;

}
.footer{
	background:#506153;
	border-top:3px solid #56a561;
	width:100%;
}
.order-status{
	width: 100%;
	font-size: 11.9px;
	border-bottom:1px #ddd solid;
	margin-bottom: 10px;
	font-weight: bold;
	color: #1c5d25;
	float: left; 
	
}
.order-status1,.order-status2,.order-status3,.order-status4{
	float: left;
	padding: 5px;
	width: 15%;
	color: #1c5d25;
}
.order-status-center{
	width: 20%;
	height: 10px;
	float: left;
}
.order-status-active{
	background: #248a32;
	border-bottom:1px solid #1c5d25;
	color:white;
}
.order-status1:hover,.order-status2:hover,.order-status3:hover,.order-status4:hover{
	background: #56c665;
	border-bottom:1px #56c665 solid;
	color: #fff;
}
.img_show_content{
	width:100%;
	height:500px;
}
.img_product_recom{
	width:100%;
	height:340px;
}
.img_product_detail{
	width:100%; 
	height:250px;
}
.img_producde_mini{
	width:100%;
	height:75px; 
}
.ran_img_product{
	width:100%;
	height:250px;
}
.img_userdata{
	width:150px;
	height:150px;
}
.contactuser{
	width: 300px;
	height: 320px;
	position:fixed;
	background: #eee;
	z-index: 11;
	bottom:0;
	right:10px;
	border-radius: 15px 15px 0px 0px;
	border-left:1px #1f7872 solid;
	border-top:2px #48aea7 solid;
	border-right:2px #1f7872 solid;
	overflow: hidden;
	box-shadow: 4px -2px 10px #666;
	margin-bottom: -285px;
}
.contactuser-content1,.contactuser-content2{
	background: #06425c;
	color:white;
	padding: 20px 0px 6px 0px;
	margin-top:-10px;
	border-bottom: 2px #44a955 solid;
	cursor: pointer;
}
.contactuser-content2{
	display: none
}
.include-imglogin{
	width: 200px;
	height: 200px;
}
#close-web{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 4;
	background-color: #000;
	opacity: 0.2;
}
#image-close-web{
	position:fixed;
	z-index:5;
}
#button-close-web{
	background-color: #000;
	padding: 1px;
	border: 2px solid #fff;
	width:25px;
	height: 25px;
	text-align: center;
	border-radius: 20px;
	overflow: hidden;
	position: fixed;
	z-index: 6;
	margin-left: 715px;
	margin-top: 155px;
	cursor: pointer;
}
@media screen and (max-width:1115px){
	.header-logo{
		width: 30%;
	}
	.header-menu{
		width: 50%;
		font-size: 16px;
	}
	.header-function{
		width: 20%;
	}
}
@media screen and (max-width:750px){
	.font-content{
		font-size: 14px;
	}
	.font_menu{
		font-size: 16px;
	}
	.font_show_type_qulity{
		font-size: 14px;
	}
	.content1,.content2{
		font-size:12px;
	}
	.header{
		margin-top: 4px;
		width: 100%;
		height: 50px;
		background:#cfffd6;
		position: fixed;
		z-index: 10;
		border-radius: 0px 0px 15px 15px;
		box-shadow: 5px 1px 10px #444;
	}
	.header-logo,.header-menu,.header-function{
		float: left;
	}
	.header-logo{
		width: 0%;
	}
	.header-menu{
		width: 69%;
	}
	.header-function{
		width: 31%;
	}
	.header-logo-img{
		width: 50px;
		height: 50px;
		float: left;
	}
	.header-menu{
		font-size: 12px;
		font-weight: bold;
		color:#1c5d25;
	}
	.header-menu-home,.header-menu-product,.header-menu-webblog,.header-menu-webboard{
		width: 25%;
		height: 50px;
		float: left;
		padding-top: 18px;
		color:#1c5d25;

	}
	.header-menu-home:hover,.header-menu-product:hover,.header-menu-webblog:hover,.header-menu-webboard:hover,.header-menu-active:hover{
		background: #42b752;
		color: white;
		cursor: pointer;
	}
	.header-menu-active,/*.product-recommend-sale*/.product-recommend-new{
		background: #248a32;
		border-bottom:2px solid #1c5d25;
		color:white; 
	}
	.header-function-cart,.header-function-user{
		width: 50px;
		height: 50px;
		padding: 10px;
		padding-left: 0px;
		float: right;
		border-radius:0px 0px 15px 0px; 
		
	}
	.img_cart,.img_user{
		width: 30px;
		height: 30px;
	}
	.img_cart{
		padding-left: 5px;
	}
	.img_user_login{
		width: 40px;
		height: 40px;
	}
	.header-function-cart{
		background:#248a32;

	}

	.header-function-cart:hover{
		background: #42b752;
	}
	.header-function-user{
		cursor: pointer;
	}
	.content_website{
		background:#fff;
		padding:50px 0px 0px 0px;
	}
	.content_allwebsite{
		padding: 0px;
	}
	.home-slide{
		width: 100%;	
		height: 250px;
	}

	.product-recommend-center,.product-recommend-sale,.product-recommend-new,.product-recommend-best{
		width: 20%;
		float: left;
		font-size: 12px;
		padding: 10px 0px;
		font-weight: bold;
		color: #1c5d25;
	}
	.product-recommend-center{
		height: 10px;
	}
	/*.product-recommend-sale*/.product-recommend-new{
		background: #248a32;
		border-bottom:2px solid #1c5d25;
		color:white; 
	}
	.img_product_recom{
		width:100%;
		height:250px;
	}
	.div-recom{
		width:90%;
		height:250px;
		position:absolute;
	}
	.div-recom-content{
		margin-top:110px;
		font-size:18px;
	}
	.img_show_content{
		width:100%;
		height:200px;
	}
	.content1,.content2{
		font-size: 14px;
	}
	.footer{
		font-size: 12px;
	}
	.img_product_detail{
		width:100%; 
		height:200px;
	}
	.ran_img_product{
		width:100%;
		height:150px;
	}
	.rand_img_product{
		padding: 3px;
	}
	.header-webblog{
		margin-top: 10px;
		font-size: 18px;
	}
	.menu-webblog{
		font-size: 13px;
		margin-top: -21px;
	}
	.weboard-showrecommend{
		margin: 20px 5px;
	}
	.img_userdata{
		margin-top: 70px;
		margin-left: -5px; 
		width:100px;
		height:100px;
		border-radius: 50px;
	}
	.datausers_menu{
		height: 260px;
		border: 0px;
		border-bottom: 2px solid #649d6c;
	}
	.bg_img_userdata{
		background-color: #78c282;
		height: 258px;
		margin:-20px 0px; 
	}
	.datauser_edit_user{
		padding: 0px;
		margin: -17px;
	}
	.order-status1,.order-status2,.order-status3,.order-status4{
		width: 28.33%;
		font-size: 11px;
		padding-left: 1px;
		padding-right: 1px;
	}
	.order-status4{
		width: 15%;
	}
	.order-status-center{
		width: 0%;
	}
	.include-imglogin{
		width: 200px;
		height: 200px;
	}
	.contactuser{
		width: 35%;
		font-size: 8px;
	}
	.contactuser-content1,.contactuser-content2{
		font-size: 15px;
	}
	#image-close-web{
		margin-top: 80px;
		width: 100%;
	}
	#close-web{
		width: 100%;
		height: 120%;
	}

}

