body{
	background: #eee;
}
div {
  font-family: 'rainganregular',"Cordia New", sans-serif;
}
.clear{
	clear: both;
}
.margin0{
	margin:0px;
	padding: 8px 0px;
}
.marginun20{
	margin-top: -20px;
}
.padding0{
	padding: 0px;
}
.font20{
	font-size: 20px;
}
.underline{
	margin-top: 30px;
	border-bottom: 2px solid #ccc;
	width: 100%;
	
}	
.header{
	width: 100%;
	height: 60px;
	background-image: url("../images/background/header.png");
	position: fixed;
	z-index: 2;

}
.header-logo,.header-menu,.header-function{
	float: left;
	width: 32.5%;
	height:60px;
}
.header-logo-img{
	width: 60px;
	height: 60px;
	float: left;
}
.header-menu{
	width: 35%;
	font-size: 40px;
	font-weight: bold;
	color:#1c5d25;
}
.header-menu-home,.header-menu-product,.header-menu-news,.header-menu-webboard{
	width: 30%;
	height: 60px;
	float: left;
	padding-top: 5px;
	color:#1c5d25;
}
.header-menu-home,.header-menu-news{
	width: 20%;
}
.header-menu-home:hover,.header-menu-product:hover,.header-menu-news:hover,.header-menu-webboard:hover,.header-menu-active:hover{
	background: #42b752;
	color: white;
	cursor: pointer;
}
.header-menu-active,.product-recommend-sale{
	background: #248a32;
	border-bottom:3px solid #1c5d25;
	color:white; 
}
.header-function-cart,.header-function-user{
	width: 60px;
	height: 60px;
	padding: 10px;
	float: right;
	
}
.header-function-cart{
	background:#248a32;
}

.header-function-cart:hover{
	background: #42b752;
}
.header-function-user{
	cursor: pointer;
}
.home-slide{
	width: 100%;	
	height: 400px;
}
.img-home-slide{
	width: 100%;
	height: 100%;
}
.product-recommend{
	width: 100%;
	border-bottom:2px solid #ddd; 
	float: left;
}
.product-recommend-center,.product-recommend-sale,.product-recommend-new,.product-recommend-best{
	width: 8%;
	float: left;
	font-size: 20px;
	font-weight: bold;
	color: #1c5d25;
}
.product-recommend-sale,.product-recommend-new,.product-recommend-best{
	cursor: pointer;
}
.product-recommend-center{
	width: 38%;
	height: 10px;
}
.product-recommend-sale{
	background: #248a32;
	border-bottom:1px solid #1c5d25;
	color:white; 
}
.product-recom-new-content,.product-recom-best-content{
	display: none;
}
.datausers_menu{
	background: #00e;
	background: #bbf9c3;
	padding: 20px 0px;
	border-right: 2px solid #649d6c;
	height: 100%; 
}
.active-datausers-menu{
	background: #fff;
	color:#20712b;
}
.datausers_menu a{
	text-decoration: none;
	color: black;
}
.datausers_menu a :hover{
	background: #56c665;
	color: white;
}
@media screen and (max-width:720px){
		
}