.text_name {
   width: 220px;
   height: 25px;
   border: solid 2px #00E3E3;
   padding: 2px;
   border-radius: 5px;
   font-size: 20px;
   box-shadow: inset 0px -2px 5px 0px rgba(156, 156, 156, 0.42);
   background-color: #FFFFFF;
   outline: none;
   color: #474747;
  }
.text_name:hover  {
   border: 2px solid #FF00D5;
  }
.text_name:focus  {
   border: solid 2px #00D43C;
   box-shadow: inset 0px 1px 2px 0px #9C9C9C;
  }
.text_name:active  {
   border: solid 2px #0043EB;
  }

.blog-add{
  background: #FF7F24;
  font-size: 20px;
  color: #FFFFFF;
  border-radius: 7px ;
}
.blog-add:hover{
background: #FFA54F;
font-size: 20px;
color: #FFFFFF;
border-radius: 7px ;
}